---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://t.me/blinknetworks" class="gpt-title">Gemini</a>
    <a href="https://t.me/blinknetworks" class="gpt-subtitle">访问助手</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://www.google.com/"> Powered By Google,Inc.</a>
    <a href="https://t.me/blinknetworks" class="font-bold">必连网络提供服务与技术支持</a>
  </p>
</header>
